In [1]:
import csv
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv(r"answer_sql3.csv", sep='|')
data[:4]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment,o_orderkey,o_custkey,...,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,10,Customer#000000010,6LrEaV6KR6PLVcgl2ArL Q3rqzLzcT1 v2,5,15-741-346-9870,2753.54,HOUSEHOLD,es regular deposits haggle. fur,3911,10,...,0.07,0.06,N,O,1995-06-22,1995-05-30,1995-06-28,COLLECT COD,FOB,ss theodolites are blithely along t
1,10,Customer#000000010,6LrEaV6KR6PLVcgl2ArL Q3rqzLzcT1 v2,5,15-741-346-9870,2753.54,HOUSEHOLD,es regular deposits haggle. fur,3911,10,...,0.08,0.05,R,F,1995-04-28,1995-05-03,1995-05-22,NONE,RAIL,e blithely brave depo
2,10,Customer#000000010,6LrEaV6KR6PLVcgl2ArL Q3rqzLzcT1 v2,5,15-741-346-9870,2753.54,HOUSEHOLD,es regular deposits haggle. fur,3911,10,...,0.10,0.05,R,F,1995-04-04,1995-04-16,1995-04-10,COLLECT COD,FOB,uctions. blithely regula
3,35,Customer#000000035,TEjWGE4nBzJL2,17,27-566-888-7431,1228.24,HOUSEHOLD,"requests. special, express requests nag slyly ...",4006,35,...,0.05,0.08,A,F,1995-04-29,1995-02-21,1995-05-20,TAKE BACK RETURN,RAIL,ress foxes cajole quick

In [4]:
data1 = data[(data['o_orderpriority'] == "1-URGENT") & (data['l_returnflag'] == "A")]
print(len(data1))

6

In [5]:
data2 = data[(data['o_orderkey'] == 5444)]
print(len(data2))

6

In [6]:
data3 = data[(data['l_shipmode'] == "TRUCK")]
print(len(data3))

7