In [21]:
import csv
import numpy as np
import pandas as pd

In [22]:
data = pd.read_csv(r"answer_sql3.csv", sep='|')
data[:4]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment,o_orderkey,o_custkey,...,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,78080,13,...,0.01,0.00,A,F,1995-05-18,1995-04-11,1995-05-29,COLLECT COD,FOB,hs. slyly ruthless requests doze s
1,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,78080,13,...,0.09,0.03,R,F,1995-06-04,1995-05-04,1995-06-07,NONE,FOB,"s, ironic foxes. express, even accounts hag"
2,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,78080,13,...,0.09,0.03,R,F,1995-05-05,1995-04-14,1995-06-01,TAKE BACK RETURN,MAIL,blithely final packages ought to u
3,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,78080,13,...,0.09,0.04,R,F,1995-04-25,1995-05-02,1995-05-10,DELIVER IN PERSON,REG AIR,oxes. final

In [23]:
relax_rate = 1.05
contract_rate = 0.95
relax_rate_change = [1.1, 1.2, 1.3, 1.4, 1.5, 1.6]
contract_rate_change = [0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

## relax

In [24]:
data2 = data[(data['c_nationkey'] == 23)]
print(len(data2))
print(len(data2)*relax_rate)

122
128.1

In [25]:
data3 = data[(data['l_shipmode'] == "MAIL")]
print(len(data3))
print(len(data3)*relax_rate)

501
526.0500000000001

In [26]:
for r in relax_rate_change:
    print(len(data3) * r)

551.1
601.1999999999999
651.3000000000001
701.4
751.5
801.6

## contract

In [27]:
data3 = data[(data['c_nationkey'] == 2)]
print(len(data3))
print(len(data3) * contract_rate)

102
96.89999999999999

In [28]:
data1 = data[(data['o_orderstatus'] == "P") & (data['l_returnflag'] == "N")]
print(len(data1))
print(len(data1) * contract_rate)

386
366.7

In [29]:
data3 = data[(data['l_shipmode'] == "SHIP")]
print(len(data3))
print(len(data3) * contract_rate)

458
435.09999999999997

In [30]:
data3 = data[(data['l_shipinstruct'] == "COLLECT COD")]
print(len(data3))
print(len(data3) * contract_rate)

839
797.05

In [31]:
for r in contract_rate_change:
    print(len(data3) * r)

335.6
419.5
503.4
587.3
671.2
755.1

In [32]:
data3 = data[(data['l_linenumber'] == 5)]
print(len(data3))
print(len(data3) * contract_rate)

341
323.95

## refinement

In [33]:
data1 = data[(data['c_nationkey'] == 12)]
print(len(data1))
print(len(data1) * 1.05)

126
132.3

In [34]:
for s in [1.02, 1.04, 1.06, 1.08, 1.10, 1.12]:
    print(len(data1) * s)

128.52
131.04
133.56
136.08
138.60000000000002
141.12

In [35]:
data3 = data[(data['l_shipmode'] == "TRUCK")]
print(len(data3))
print(len(data3) * 0.95)

445
422.75

## date

In [36]:
s = data["o_orderdate"].values.tolist()
s.sort()
print(s[0])
print(s[-1])

1994-11-29
1995-03-27

In [37]:
s = data["l_shipdate"].values.tolist()
s.sort()
print(s[0])
print(s[-1])

1995-03-29
1995-07-26