In [7]:
import numpy as np
import pandas as pd
import csv
import json

In [23]:
data_file = r"compas-scores.csv"
data = pd.read_csv(data_file, index_col=False)

data.columns

Index(['id', 'name', 'first', 'last', 'compas-screening-date', 'sex', 'dob',
       'age', 'age-cat', 'race', 'juv-fel-count', 'decile-score',
       'juv-misd-count', 'juv-other-count', 'priors-count',
       'days-b-screening-arrest', 'c-jail-in', 'c-jail-out', 'c-case-number',
       'c-offense-date', 'c-arrest-date', 'c-days-from-compas',
       'c-charge-degree', 'c-charge-desc', 'is-recid', 'num-r-cases',
       'r-case-number', 'r-charge-degree', 'r-days-from-arrest',
       'r-offense-date', 'r-charge-desc', 'r-jail-in', 'r-jail-out',
       'is-violent-recid', 'num-vr-cases', 'vr-case-number',
       'vr-charge-degree', 'vr-offense-date', 'vr-charge-desc',
       'v-type-of-assessment', 'v-decile-score', 'v-score-text',
       'v-screening-date', 'type-of-assessment', 'decile-score.1',
       'score-text', 'screening-date'],
      dtype='object')

In [24]:

print(data['r-charge-degree'].unique())


print(data['vr-charge-degree'].unique())

print(data['c-charge-degree'].unique())

['O' 'F' 'M']
[nan '(F3)' '(F2)' '(F1)' '(M1)' '(MO3)' '(M2)' '(F6)' '(F7)' '(F5)']
['F' 'O' 'M']

In [10]:

data.describe()

,id,age,juv-fel-count,decile-score,juv-misd-count,juv-other-count,priors-count,days-b-screening-arrest,c-days-from-compas,is-recid,num-r-cases,r-days-from-arrest,is-violent-recid,num-vr-cases,v-decile-score,decile-score.1
count,11757.000000,11757.000000,11757.000000,11757.000000,11757.000000,11757.000000,11757.000000,10577.000000,11015.000000,11757.000000,0.0,2460.000000,11757.000000,0.0,11757.000000,11757.000000
mean,5879.000000,35.143319,0.061580,4.371268,0.076040,0.093561,3.082164,-0.878037,63.587653,0.253806,NaN,20.410569,0.075019,NaN,3.571489,4.371268
std,3394.097892,12.022894,0.445328,2.877598,0.449757,0.472003,4.687410,72.889298,341.899711,0.558324,NaN,74.354840,0.263433,NaN,2.500479,2.877598
min,1.000000,18.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,-597.000000,0.000000,-1.000000,NaN,-1.000000,0.000000,NaN,-1.000000,-1.000000
25%,2940.000000,25.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000,NaN,0.000000,0.000000,NaN,1.000000,2.000000
50%,5879.000000,32.000000,0.000000,4.000000,0.000000,0.000000,1.000000,-1.000000,1.000000,0.000000,NaN,0.000000,0.000000,NaN,3.000000,4.000000
75%,8818.000000,43.000000,0.000000,7.000000,0.000000,0.000000,4.000000,-1.000000,2.000000,1.000000,NaN,1.000000,0.000000,NaN,5.000000,7.000000
max,11757.000000,96.000000,20.000000,10.000000,13.000000,17.000000,43.000000,1057.000000,9485.000000,1.000000,NaN,993.000000,1.000000,NaN,10.000000,10.000000

# q1

In [26]:
data_file = r"compas-scores.csv"
data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['juv-fel-count'] >= 1]
print(len(data1))
data2 = data1[data1['decile-score'] >= 4]
print(len(data2))
data3 = data2[(data2["r-charge-degree"] == "F")]
print(len(data3))

print(data3.groupby(['sex', 'age-cat']).size())

print(data3.groupby(['race']).size())
print(data3.groupby(['age-cat']).size())
print(data3.groupby(['sex']).size())

11757
423
407
102
sex     age-cat
Female  Less than 25        1
Male    25 - 45            54
        Greater than 45     8
        Less than 25       39
dtype: int64
race
African-American    81
Caucasian           13
Hispanic             8
dtype: int64
age-cat
25 - 45            54
Greater than 45     8
Less than 25       40
dtype: int64
sex
Female      1
Male      101
dtype: int64

# q2

In [38]:
data_file = r"compas-scores.csv"
data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['juv-fel-count'] <= 4]
print(len(data1))
data2 = data1[data1['decile-score'] >= 8]
print(len(data2))
data3 = data2[(data2["c-charge-degree"] == "O")]
print(len(data3))

print(data3.groupby(['sex', 'age-cat']).size())

print(data3.groupby(['race']).size())
print(data3.groupby(['age-cat']).size())
print(data3.groupby(['sex']).size())

11757
11740
2196
115
sex     age-cat
Female  25 - 45            13
        Greater than 45     3
        Less than 25        7
Male    25 - 45            42
        Greater than 45    10
        Less than 25       40
dtype: int64
race
African-American    88
Caucasian           20
Hispanic             6
Other                1
dtype: int64
age-cat
25 - 45            55
Greater than 45    13
Less than 25       47
dtype: int64
sex
Female    23
Male      92
dtype: int64